@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Rothwell;
    src: url(./assets//Fonts/rothwell.otf);
}

@font-face {
    font-family: Libel;
    src: url(./assets/Fonts/libel-suit-rg.otf);
}